/* css/app.css */
@import url('https://fonts.googleapis.com/css2?family=Jersey+20&family=Press+Start+2P&display=swap');

*, *::before, *::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Jersey 20", sans-serif;
  background: #9b2f75;
  color: #634545db;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  padding: 10px;
}

img, video { max-width: 100%; height: auto; display: block; }