.hamburger-button {
  display: none;
  cursor: pointer;
  background: #F8B195;
  border: 4px solid #F67280;
  color: white;
  padding: 10px 20px;
  font-size: clamp(14px, 2.5vw, 20px);
  box-shadow: 6px 6px 0 #F8B195;
  transition: all 0.2s ease;
  border-radius: 7px;
}

.hamburger-button:hover {
  transform: scale(1.2);
  box-shadow: 5px 5px 5px #fefdfddf;
}

.hamburger-button:active {
  animation: spin 0.1s ease;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

@media (max-width: 768px) {
  .hamburger-button {
    display: block !important;
    padding: 20px;
  }
}
